.upload-img-inner {
    bottom: 1px;
    right: 7px;
}
.upload-img-inner i {
    width: 40px;
    height: 40px;
    background: #008abf;
}
.upload-img-cover {
    width: 150px;
    height: 150px;
    overflow: hidden;
    box-shadow: 0 0 14px 0 #dddddd8f;
}

.logoameo {
   border-radius: 50%;
}
.social-icons{
    position: absolute;
    top: 55px;
    right: 0px;
    font-size: 16px;
    color: #fff;
    background: #008abf;
    height: 35px;
    width: 35px;

    
}